*.out
*.pt
*.bed
*.bigWig
*.xlsx#
*.csv#
*.ipynb
.magicindex.json
*.mcool
*.tar.gz

maxent*
test/**

# datasets
dataset_*
single_cell*/schic*
single_cell*/samples*
single_cell*/contact_diffusion*
single_cell*/sc_contacts
GATC*


__pycache__
neural_net_utils/__pycache_

# results
results/test/**
results/UNet/**
results/SequenceFCAutoencoder/**
results/GNNAutoencoder*/**
results/DeepC/**
results/ContactGNN/**
results/Akita/**
results/MLP/*.pt
results/*/*/sample*/**
results/*/*combined

# chip_seq
chip_seq_data/*
!chip_seq_data/*.py
!chip_seq_data/**/*.json
!chip_seq_data/**/*.sh
