*.out
*.pt
*.bed
*.bigWig
*.xlsx#
*.csv#
*.ipynb
.magicindex.json

maxent*
test/**

# datasets
dataset_*
!dataset_09_21_21/samples/sample1
!dataset_09_21_21/samples/sample1/**
!dataset_test/**
single_cell*/schic*
single_cell*/samples*
single_cell*/contact_diffusion*
single_cell*/sc_contacts
GATC*


__pycache__
neural_net_utils/__pycache_

# results
results/test/**
!results/ContactGNN*/**
results/*/*combined

# chip_seq
chip_seq_data/**
