*.out
*.pt
*.bed
*.bigWig
*.xlsx#
*.csv#
.magicindex.json

maxent*
test/**

# datasets
dataset*/*
!*/samples/sample40
!*/samples/sample40/*
!dataset_01_18_22/samples/sample21
!dataset_01_18_22/samples/sample21/**
!dataset_09_21_21/samples/sample1
!dataset_09_21_21/samples/sample1/**
!dataset_test/**


__pycache__
neural_net_utils/__pycache_

# results
results/test/**
!results/ContactGNN*/**

# chip_seq
chip_seq_data/__pycache__
chip_seq_data/narrow_peaks/**
chip_seq_data/fold_change_control/**
chip_seq_data/aligned_reads/**
